{% set ns = namespace(found=false, groups=[]) %}
{% if packages_groups_result.stdout_lines is defined
   and not packages_groups_result.stdout_lines != None %}
  {% set package_groups_info = packages_groups_result.stdout_lines
                               | select("search", "^.*Groups|   ")
                               | map("regex_replace", "^([a-zA-Z].*):$", "\\1:")
                               | map("regex_replace", "   (.*)$", "  - \\1")
                               | map("regex_replace", "$", "\\n")
                               | list
                               | join
                               | from_yaml %}
  {% for key in package_groups_info.keys() | list %}
  {% if key is search("Installed") %}
  {% set ns.groups = ns.groups + package_groups_info[key] %}
  {% set ns.found = true %}
  {% endif %}
  {% endfor %}
{% endif %}

{{ ns.groups | to_json }}
