{%- macro package_dict(name,
                       state,
                       virtualenv=none,
                       virtualenv_command=none,
                       virtualenv_python=none,
                       virtualenv_site_packages=none,
                       extra_args=none) -%}
{% set search_already_managed = packages_already_managed
                                | selectattr("name", "equalto", name)
                                | list %}
{% if (search_already_managed | length == 0
       or (search_already_managed | first).state != state)
      and ((state == "present"
            and name not in packages_already_present)
           or (state == "absent"
               and name in packages_already_present)
           or state not in ["absent", "present"]) %}
{% set ns.found = true %}
- name: "{{ name }}"
  state: "{{ state }}"
{% if virtualenv is not none and virtualenv | length > 0 %}
  virtualenv: "{{ virtualenv }}"
{% endif %}
{% if virtualenv_command is not none and virtualenv_command | length > 0 %}
  virtualenv_command: "{{ virtualenv_command }}"
{% endif %}
{% if virtualenv_python is not none and virtualenv_python | length > 0 %}
  virtualenv_python: "{{ virtualenv_python }}"
{% endif %}
{% if virtualenv_site_packages is not none %}
  virtualenv_site_packages: "{{ virtualenv_site_packages }}"
{% endif %}
{% if extra_args is not none and extra_args | length > 0 %}
  extra_args: "{{ extra_args }}"
{% endif %}
{% endif %}
{%- endmacro -%}

{% set distro_name = ansible_facts.distribution | lower %}
{% set distro_name_alias = packages_distribution_aliases[distro_name] | default(distro_name) | lower %}
{% set distro_version = ansible_facts.distribution_major_version
                        | string
                        | lower %}

{% set packages_spec = ([packages_spec | to_json | from_json]
                        + packages_spec_hostvars | default([]))
                       | packages_combine_specs %}
{% if packages_python.keys() | list | length > 0 %}
{% set packages_spec = ([packages_spec | to_json | from_json]
                        + [python_extra_packages_spec | default({})])
                       | packages_combine_specs %}
{% endif %}

{% if packages_spec["all"] is defined
      and packages_spec["all"]["all"] is defined %}
{% set packages_all_all = packages_spec["all"]["all"] %}
{% else %}
{% set packages_all_all = [] %}
{% endif %}

{% if packages_spec["all"] is defined
      and packages_spec["all"][distro_version] is defined %}
{% set packages_all_version = packages_spec["all"][distro_version] %}
{% else %}
{% set packages_all_version = [] %}
{% endif %}

{% set packages_specs_to_apply = packages_spec[distro_name] | default(packages_spec[distro_name_alias]) | default(none) %}

{% if not packages_specs_to_apply is none
      and packages_specs_to_apply["all"] is defined %}
{% set packages_distro_all = packages_specs_to_apply["all"] %}
{% else %}
{% set packages_distro_all = [] %}
{% endif %}

{% if not packages_specs_to_apply is none
      and packages_specs_to_apply[distro_version] is defined %}

{% set packages_distro_version = packages_specs_to_apply[distro_version] %}
{% else %}
{% set packages_distro_version = [] %}
{% endif %}

{% set packages_specs_to_process = [ packages_all_all ]
                                   + [ packages_all_version ]
                                   + [ packages_distro_all ]
                                   + [ packages_distro_version]  %}

{% set ns = namespace(found=false) %}

{% for spec in packages_specs_to_process %}
{% if spec is iterable
      and spec is not string
      and spec is not mapping  %}
{% for package in spec %}
{% set package_name = package.name | default(package.keys() | list | first) %}
{% set package_state = package.state | default(package.values() | list | first) %}
{% set package_virtualenv = package.virtualenv | default(packages_python_virtualenv) | default(none) %}
{% set package_virtualenv_command = package.virtualenv_command | default(packages_python_virtualenv_command) | default(none) %}
{% set package_virtualenv_python = package.virtualenv_python | default(packages_python_virtualenv_python) | default(none) %}
{% set package_virtualenv_site_packages = package.virtualenv_site_packages | default(packages_python_virtualenv_site_packages) | default(none) %}
{% set package_extra_args = package.extra_args | default(packages_python_extra_args) | default(none) %}
{{ package_dict(package_name, package_state, package_virtualenv, package_virtualenv_command, package_virtualenv_python, package_virtualenv_site_packages, package_extra_args) }}
{% endfor %}
{% else %}
{% for package in spec %}
{% set package_name = package %}
{% set package_state = spec[package] %}
{{ package_dict(package_name, package_state, packages_extra_args | default(none)) }}
{% endfor %}
{% endif %}
{% endfor %}

{% if not ns.found %}
[]
{% endif %}
