{% set ns = namespace(found=false) %}
{% if packages_spec is not none %}
{% for distro in packages_spec.keys() %}
{% if distro | lower == ansible_facts.distribution | lower
      or distro | lower == "all" %}
{% for release in packages_spec[distro] %}
{% if release | string | lower == ansible_facts.distribution_major_version
                                  | string
                                  | lower
      or release | string | lower == "all" %}

{% if packages_spec[distro][release] is iterable
      and packages_spec[distro][release] is not string
      and packages_spec[distro][release] is not mapping  %}
{% for package in packages_spec[distro][release] %}
{% set ns.found = true %}
- name: {{ package.name | default(package.keys() | first) }}
  state: {{ package.state | default(package.values() | first) }}
{% if package.pip_extra_args is defined %}
  pip_extra_args: "{{ package.pip_extra_args }}"
{% endif %}
{% endfor %}
{% else %}
{% for package in packages_spec[distro][release] %}
{% set ns.found = true %}
- name: {{ package }}
  state: {{ packages_spec[distro][release][package] }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if not ns.found %}
[]
{% endif %}
