{% if ansible_facts.distribution | lower == "fedora" %}
python{{ ansible_facts.python.version.major | string }}-pip
{% elif ansible_facts.os_family | lower == "redhat" %}
{% if ansible_facts.distribution_major_version is version("7", "<") %}
python-pip
{% else %}
python{{ ansible_facts.python.version.major | string }}-pip
{% endif %}
{% else %}
python-pip
{% endif %}
