{%- if ansible_facts.python.version.major is version("3", "<") %}
{%- set suffix = "" %}
{%- else %}
{%- set suffix = ansible_facts.python.version.major | string %}
{%- endif %}
python{{ suffix }}-virtualenv
